Package: com.liamschwie.ticktint
Name: TickTint
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Change WhatsApp delivered and read check colors.
Maintainer: Liam
Author: Liam
Section: Tweaks
Depends: mobilesubstrate
